.quiz_content{
    margin: 0 auto;
    width: 1230px;
    padding: 60px 15px;

}

.question{
    margin: 0 auto;
    width: 550px;
    background-color: black;
    text-align: center;
    padding: 10px 20px;
    border-radius: 3px;
}

.question_text{
    color: white;
    text-align: left;
}

.quiz_form{
    width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.quiz_form_item{
    margin-bottom: 30px;
}

.quiz_form_group{
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.quiz_form_radio{
    display: none;
}

.quiz_form_radio:checked+label {
    background: #ddd;
}

.quiz_form_label{
    display: block;
    padding: 20px;
    width: 100%;
    cursor: pointer;
}

.quiz_form_button{
    width: 550px;
}

.quiz_form_button_submit{
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}
